.container {
    padding: 30px 0;
}

.filmsList {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.filmsItem {
    max-height: 230px;
    padding: 15px;
    width: 45%;
    border: 1px solid #afb7bf;
    border-radius: 4px;
    margin-bottom: 40px;
}

.filmsItem:hover {
    box-shadow: 3px 3px 5px 2px #afb7bf;
}

.filmsItem:nth-last-child(-n + 2) {
    margin-bottom: 0;
}