.container {
    width: 95%;
    display: block;
    position: absolute;
    bottom: 10%;
}

.buttonWrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.button {
    display: inline-block;
    width: 240px;
    padding: 8px 16px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    background-color: rgba(56, 132, 255, 0.7);
    transition: all 200ms ease;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: none;
}

.button[disabled] {
    pointer-events: none;
    background-color: #bdbdbd;
}

.button:hover,
.button:focus {
    background-color: #1f65d6;
}

.button:active {
    border: 1px solid red;
}