.menu {
    display: block;
}

.menuList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.menuLink {
    color: #666666;
    text-decoration: none;
}

.activeMenuLink {
    color: red;
}