.container {
    width: 95%;
    margin: 0 auto;
    padding: 30px 20px;
}

.p, .title {
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px dotted #dee7ef;
    margin-bottom: 8px;
}

.title {
    text-transform: uppercase;
}

.button {
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    background-color: rgba(56, 132, 255, 0.7);
    transition: all 200ms ease;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #1f65d6;
}

.button:active {
    border: 1px solid red;
}